In [4]:
import pandas as pd

# Load your datasets
cultural_hotspots = pd.read_csv('Top Indian Places to Visit.csv')
tourism_footfall = pd.read_csv('India-Tourism-Statistics-2021-Table-5.1.2_0.csv')

# Preprocessing Function
def preprocess_data(df):
    # Ensure column names are strings
    df.columns = df.columns.astype(str)
    
    # Handle missing values
    df.fillna('Unknown', inplace=True)
    
    # Normalize column names
    df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
    
    # Convert date columns to datetime format if available
    for col in df.columns:
        if 'date' in col:
            df[col] = pd.to_datetime(df[col], errors='coerce')
    
    return df

# Preprocess datasets
cultural_hotspots = preprocess_data(cultural_hotspots)
tourism_footfall = preprocess_data(tourism_footfall)

# Save cleaned data
cultural_hotspots.to_csv('cleaned_cultural_hotspots.csv', index=False)
tourism_footfall.to_csv('cleaned_tourism_footfall.csv', index=False)
gov_initiatives.to_csv('cleaned_gov_initiatives.csv', index=False)

print("Preprocessing Complete. Cleaned CSVs are saved.")

Preprocessing Complete. Cleaned CSVs are saved.

C:\Users\mohdf\AppData\Local\Temp\ipykernel_16228\2070401100.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('Unknown', inplace=True)

In [11]:
import pandas as pd
from snowflake.connector import connect

# Load the cleaned datasets
cultural_hotspots = pd.read_csv('cleaned_cultural_hotspots.csv')
tourism_footfall = pd.read_csv('cleaned_tourism_footfall.csv')


# Step 1: Snowflake Connection Setup
conn = connect(
    user='FAHAM2005',
    password='fKrx99Ejj3ZrEAd',
    account='DPNFGOL-FS07172',  # Your Snowflake account identifier
    warehouse='BOB',
    database='CULTURAL_ODYSSEY',
    schema='PUBLIC'
)

cursor = conn.cursor()

# Step 2: Create Tables in Snowflake
tables = {
    'CULTURAL_HOTSPOTS': cultural_hotspots,
    'TOURISM_FOOTFALL': tourism_footfall
}

for table_name, dataframe in tables.items():
    # Properly quote column names
    columns = ', '.join([f'"{col}" VARCHAR' for col in dataframe.columns])
    
    create_table_query = f"""
    CREATE OR REPLACE TABLE {table_name} (
        {columns}
    )
    """
    print("Executing create table query:")
    print(create_table_query)
    cursor.execute(create_table_query)
    print(f"Table {table_name} created successfully.")
print(f"CULTURAL_HOTSPOTS shape: {cultural_hotspots.shape}")
print(f"TOURISM_FOOTFALL shape: {tourism_footfall.shape}")

# Step 3: Insert Data into Snowflake
def insert_data_to_snowflake(table_name, dataframe):
    cols = ', '.join(dataframe.columns)
    values = ', '.join(['%s'] * len(dataframe.columns))
    insert_query = f"INSERT INTO {table_name} ({cols}) VALUES ({values})"
    
    for _, row in dataframe.iterrows():
        cursor.execute(insert_query, tuple(row))

def insert_data_to_snowflake(table_name, dataframe):
    cols = ', '.join([f'"{col}"' for col in dataframe.columns])
    values = ', '.join(['%s'] * len(dataframe.columns))
    insert_query = f"INSERT INTO {table_name} ({cols}) VALUES ({values})"
    
    for idx, row in dataframe.iterrows():
        try:
            cursor.execute(insert_query, tuple(row))
        except Exception as e:
            print(f"Error inserting row {idx}: {e}")
    cursor.connection.commit()
    conn.commit()

# Step 4: Verification Queries
cursor.execute("SELECT COUNT(*) FROM CULTURAL_HOTSPOTS")
print(f"Total Records in CULTURAL_HOTSPOTS: {cursor.fetchone()[0]}")

cursor.execute("SELECT COUNT(*) FROM TOURISM_FOOTFALL")
print(f"Total Records in TOURISM_FOOTFALL: {cursor.fetchone()[0]}")

# Step 5: Close Connection
cursor.close()
conn.close()
print("Snowflake connection closed.")

Executing create table query:

    CREATE OR REPLACE TABLE CULTURAL_HOTSPOTS (
        "unnamed:_0" VARCHAR, "zone" VARCHAR, "state" VARCHAR, "city" VARCHAR, "name" VARCHAR, "type" VARCHAR, "establishment_year" VARCHAR, "time_needed_to_visit_in_hrs" VARCHAR, "google_review_rating" VARCHAR, "entrance_fee_in_inr" VARCHAR, "airport_with_50km_radius" VARCHAR, "weekly_off" VARCHAR, "significance" VARCHAR, "dslr_allowed" VARCHAR, "number_of_google_review_in_lakhs" VARCHAR, "best_time_to_visit" VARCHAR
    )

Table CULTURAL_HOTSPOTS created successfully.
Executing create table query:

    CREATE OR REPLACE TABLE TOURISM_FOOTFALL (
        "s._no." VARCHAR, "states/uts_*" VARCHAR, "domestic_-2019" VARCHAR, "foreign_-_2019" VARCHAR, "domestic_-2020" VARCHAR, "foreign_-_2020" VARCHAR, "growth_rate_-_dtv__2020/19" VARCHAR, "growth_rate_-_ftv_2020/19" VARCHAR
    )

Table TOURISM_FOOTFALL created successfully.
CULTURAL_HOTSPOTS shape: (325, 16)
TOURISM_FOOTFALL shape: (40, 8)
Total Records in CULTURAL_HOTSPOTS: 0
Total Records in TOURISM_FOOTFALL: 0
Snowflake connection closed.

In [13]:
# Step 1: Snowflake Connection Setup
conn = connect(
    user='FAHAM2005',
    password='fKrx99Ejj3ZrEAd',
    account='DPNFGOL-FS07172',  # Your Snowflake account identifier
    warehouse='BOB',
    database='CULTURAL_ODYSSEY',
    schema='PUBLIC'
)

cursor = conn.cursor()
cursor.execute("SELECT COUNT(*) FROM CULTURAL_HOTSPOTS")
print(f"Total Records in CULTURAL_HOTSPOTS: {cursor.fetchone()[0]}")

cursor.execute("SELECT COUNT(*) FROM TOURISM_FOOTFALL")
print(f"Total Records in TOURISM_FOOTFALL: {cursor.fetchone()[0]}")

# Example: preview first 5 rows
cursor.execute("SELECT * FROM CULTURAL_HOTSPOTS LIMIT 5")
for row in cursor.fetchall():
    print(row)

Total Records in CULTURAL_HOTSPOTS: 325
Total Records in TOURISM_FOOTFALL: 40
('0', 'Northern', 'Delhi', 'Delhi', 'India Gate', 'War Memorial', '1921', '0.5', '4.6', '0', 'Yes', 'Unknown', 'Historical', 'Yes', '2.6', 'Evening')
('1', 'Northern', 'Delhi', 'Delhi', "Humayun's Tomb", 'Tomb', '1572', '2.0', '4.5', '30', 'Yes', 'Unknown', 'Historical', 'Yes', '0.4', 'Afternoon')
('2', 'Northern', 'Delhi', 'Delhi', 'Akshardham Temple', 'Temple', '2005', '5.0', '4.6', '60', 'Yes', 'Unknown', 'Religious', 'No', '0.4', 'Afternoon')
('3', 'Northern', 'Delhi', 'Delhi', 'Waste to Wonder Park', 'Theme Park', '2019', '2.0', '4.1', '50', 'Yes', 'Monday', 'Environmental', 'Yes', '0.27', 'Evening')
('4', 'Northern', 'Delhi', 'Delhi', 'Jantar Mantar', 'Observatory', '1724', '2.0', '4.2', '15', 'Yes', 'Unknown', 'Scientific', 'Yes', '0.31', 'Morning')